@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Null</h3>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<div class="social">
	<div class="facebook">
		<a href="https://www.facebook.com/pages/Our-Lady-Bakery/120757931272752?fref=ts" target="_blank" style="margin-right:10px;"><img src="~/images/fb-like1.png" width="50" height="20" /></a>
	</div>
</div>
<div class="container clearfix">
	<div class="wrap">

		<div class="page-content">
			<div class="content-inside">
				<div class="content-title">
					<h2> Our Lady's bakery</h2>
					<h1> About us</h1>
				</div>
				<div class="content-header"> <img alt="" src="~/images/_header-about-us.png" /></div>
				<div class="content-main">
					<div class="text-content">
						<p> </p>
					</div>
					<div class="content-separator"> &nbsp;</div>
					<div class="image-box states-box">
						<div class="title">
							From the Heart of Grand Prairie<br />
							to the Heart of Dallas and Beyond
						</div>
						<div class="desc">
							<p> We deliver aroud Grand Prairie including metro Dallas, Irving, and Richardson, etc</p>
							<ul>
								<li> Dallas, TX</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
				<div class="content-side">
					<div class="inside">
						<div class="subtitle">Our Lady's bakery</div>
						<div class="title"> Staff directory</div>
						<div class="side-staff">
							<!-- start staff-directory -->
							<div class="line ">
								<div class="col col-left">
									<div class="details">
										<div class="position">Manager</div>
										<div class="name">Cecilia Kontoh</div>
									</div>
									<a href="mailto:ourladysbakery@yahoo.com">&nbsp;</a>
								</div>


								<a href="mailto:ourladysbakery@yahoo.com">&nbsp;</a>
							</div>
						</div>

						<!-- end staff-directory -->
					</div>
				</div>
			</div>
		</div>
	</div>
