@{
	ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Null</h3>

<link href="css/style.css" rel="stylesheet" type="text/css" />

<div class="social">
	<div class="facebook">
		<ul>
			<a href="https://www.facebook.com/pages/Our-Lady-Bakery/120757931272752?fref=ts" target="_blank" style="margin-right:10px;"><img src="~/images/fb-like1.png" width="50" height="20" /></a>
		</ul>
	</div>
</div>
<div>
	<a href="https://www.yelp.com/biz/our-lady-bakery-grand-prairie" target="_blank" style="margin-left:900px;"> <img src="~/images/yelp.png" </a>
</div>
<div class="container clearfix">
	<div class="wrap">

		<script type="text/javascript">
$().ready(function() {$("#contact_form").validate();});
		</script>
		<div class="page-content">
			<div class="content-inside">
				<div class="content-title">
					<h2>&nbsp; </h2>
					<h2> Our Lady's bakery</h2>
					<h1> Contact us</h1>
				</div>
				<div class="content-header"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3357.2571936481677!2d-97.06182328548832!3d32.705792780993555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e87d0b2d64747%3A0xcb50576246aa0634!2s2905+E+Arkansas+Ln%2C+Arlington%2C+TX+76010!5e0!3m2!1sen!2sus!4v1512634318684" width="870" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>"></div>
				<div class="content-main">
					<div class="contact-details">
						<div class="text-content">
							<p> We look forward to hearing from you. If you have comments or questions about ordering from Our Lady's Bakery, please fill in your information to the right and we&#39;ll get back to you promptly. If you have stories, testimonials, or photos to share, send us an email. Thank you for visiting our site!</p>
						</div>
						<div class="col col-address">
							<div class="title"> Mailing Address</div>
							<div class="data">
								<strong>Our Lady's Bakery</strong><br />
								<strong>2905 Arkansas Ln</strong><br />
								<strong>Grand Prairie, TX 75052</strong><br />
								Phone: 972 602-0601<br />
								Email: <a href="mailto:ourladysbakery@yahoo.com">ourladysbakery@yahoo.com</a>
							</div>
						</div>
						<div class="col col-hours">
							<div class="title"> Hours of operation</div>
							<div class="data">
								<strong>Sunday - Friday</strong><br />
								6:00 AM - 10:00 PM<br />
								<strong>Saturday</strong><br />
								6:00 AM - 10:30 PM <br />
							</div>
						</div>
					</div>
					<div class="content-separator"> &nbsp;</div>
					<div class="image-box directions-box">
						<div class="desc">
							<p> Our Lady's Bakery We have a strong following of loyal customers who come and visit us 365 days a year. It&#39;s a great to see new faces, so please visit us and say hello!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
