@{ 
    ViewBag.Title = "Home Page";
}

<div id="root"></div>
<div id="container"></div>
<div id="component"></div>


<link href="~/css/style.css" type="text/css" rel="stylesheet"/>
<script src="~/Scripts/react/react.min.js"></script>
<script src="@Url.Content("~/Scripts/jsx/WholesaleService.jsx")"></script>
<script src="@Url.Content("~/Scripts/jsx/Welcome.jsx")"></script>
<script src="@Url.Content("~/Scripts/jsx/States.jsx")"></script>

