@{
	ViewBag.Title = "Home Page";
}
<div id="rot"></div>
<div id="rota"></div>
<div id="root"></div>
<script src="~/Scripts/react/react.min.js"></script>
<script src="@Url.Content("~/Scripts/jsx/Homeinfo.jsx")"></script>
<script src="@Url.Content("~/Scripts/jsx/Homestates.jsx")"></script>
<script src="@Url.Content("~/Scripts/jsx/Desc.jsx")"></script>



		