@{
	ViewBag.Title = "Home Page";
}


<div class="social">
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="../platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="yelp"> <a href="https://www.yelp.com/biz/our-lady-bakery-grand-prairie" target="_blank"></a> </div>
<div class="container clearfix">
	<div class="wrap">

		<div class="page-content">
			<div class="home-content">
				<div class="home-main-content">
					<div class="home-info">
						<div class="title">Welcome to Our Lady's bakery</div>
						<p>Our Lady’s Bakery  We are located in Grand prairie, Texas just outside of Dallas City. Our Lady’s Bakery is known for providing the highest quality freshly baked products at affordable prices with always exceptional service.</p>
						<p>Since opening our doors for business,we have stayed true to our mantra of "Always Fresh".</p>
					</div>
					<div class="home-states">
						<div class="inside">
							<div class="excerpt">From the Heart of Grand prairie to the Heart of Dallas and Beyond</div>
							<ul>
								<li> Arlington, TX</li>
								<li> Grand prairie, TX</li>
								<li> Richardson, TX</li>
							</ul>
							<a href="About" class="button button-gray">More info</a>
						</div>
					</div>
				</div>
			</div>
				<div class="home-box home-box-service">
					<div class="inside">
						<div class="subtitle">Our Lady's bakery</div>
						<div class="title">Wholesale service</div>
						<div class="image">
							<img src="images/home-image-1.png" alt="" />
						</div>
						<div class="desc">
							<p>Our Lady’s wholesale business strives to exceed expectations by delivering FRESH products 365 days a year.   </p>
							<p>Please call us today <strong>972-602-0601</strong>  We'd be delighted to give you a personal tour of our facility, and for wholesale buyers, access to the our user-friendly Web Ordering System.</p>
						</div>
						<div class="button-box">
							<a href="~/Account/Register" class="button button-gray">Create an account</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
	</div>
			<footer>
				<h1>Check Us Out!!!!</h1>
				<br>
				<a href="https://www.facebook.com/pages/Our-Lady-Bakery/120757931272752?fref=ts">Facebook</a>
				<address>
					2905 Arkansas Ln.
					Grand Prairie, TX 75052
				</address>
			</footer>
		</div>
